[Unit]
Description=Running Purdue ARC's Discord
After=network-online.target

[Service]
ExecStart=/bin/bash <directory-to-project>/run.sh
WorkingDirectory=<directory-to-project>
Restart=always
User=<user>

[Install]
WantedBy=multi-user.target
